@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Mali|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Charmonman|Mali|Open+Sans+Condensed:300');
.Venom {

    
    
    }
.lil { 
    color:red;
    font-family: 'Mali', cursive;
    }
.Fortnite {  
            color:red;  
            font-family: 'Mali', cursive;
    
} 
.Web Class {
             color:red;
}            

 Styles {
     
 } 
     
      
   
   